.btn {
    all: unset;
    background-color: tomato;
    padding: 10px 20px;
    cursor: pointer;
    border: 3px solid #fff;
    margin-top: 25px;
}

.btn:hover {
    background-color: #fff;
    border: 3px solod #f66;
    color: tomato;
}

.homepage h2 {
    text-align: center;
}

.homepage i {
    display: block;
    text-align: center;
}

.background-image {
    background-image: url('https://picsum.photos/id/312/500/500');
    background-position: center;
    background-size: contain;
    width: 250px;
    height: 250px;
}