.btn {
    all: unset;
    background-color: tomato;
    padding: 10px 20px;
    cursor: pointer;
    border: 3px solid #fff;
    margin-top: 25px;
}

.btn:hover {
    background-color: #fff;
    border: 3px solod #f66;
    color: tomato;
}

.homepage h2 {
    text-align: center;
}

.homepage i {
    display: block;
    text-align: center;
}

.background-image {
    background-image: url('https://picsum.photos/id/312/500/500');
    background-position: center;
    background-size: contain;
    width: 250px;
    height: 250px;
}

.contact-page .map {
    width: 100%;
    height: 500px;
}


.homepage .my-list {
    font-size: 24px;
    list-style-type: square;
}

header ul.navigation {

    list-style-type: none;
    /* border: 3px dashed red; */
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%)
    

}


header ul.navigation li {

    list-style-type: none;
    display: inline-block;
    /* border: 3px dashed blue; */
    margin: 0 10px;
}

header ul.navigation li a{

    text-decoration: none;
    font-size: 24px;
    text-transform: capitalize;
    color: #fff;
  
}

header ul.navigation li a:hover {
    border-bottom:  3px solid white;
    color: white;
}